@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes carousel-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes carousel-scroll-logo {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .animate-carousel-scroll {
    animation: carousel-scroll 30s linear infinite;
  }

  .animate-carousel-scroll-logo {
    animation: carousel-scroll-logo 90s linear infinite;
  }
}